main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    text-align: center;
}
.zoneMot{
    background-color:#2a72d1 ;
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 30px;
    padding: 70px;
    font-size: 40px;
}

.zoneRep{
    background-color:#3b2bcc ;
    color: aliceblue;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 30px;
    padding: 70px;
    font-size: 40px;
}

button{
    padding: 10px;
    border: solid;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 10px;
}

.btnBas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
}

#btnFr{
    margin-right: 20px;
}

#btnJp{
    margin-left: 20px;
}